#brand{
  position: relative;
  text-align: center;
  padding: 41px 15px;
  border-bottom: 6px solid $cl2;
}

#introducao{
  position: relative;
  min-height: 750px;
  background: linear-gradient(98.6deg, #631F7B -8.55%, #794B99 5.24%, #2B1251 101.79%);
  &:before{
    @include pseudo;
    @include size(100%);
    background: url('../img/dots_effect_banner.png');
    background-size: cover;
    background-position: bottom -40px center;
    background-repeat: no-repeat;
    opacity: 0.45;
  }
  &_container{
    position: relative;
    z-index: 50;
    color: #fff;
    h1{
      font-size: em(46);
      font-weight: 600;
      display: block;
      padding: 49px 0 42px;
      line-height: 1.3em;
      border-bottom: 0;
      text-transform: capitalize;
      span{
        font-weight: $regular;
        text-transform: initial;
      }
      @include mq(md,max){
        font-size: 2.4rem
      }
    }
    #midia{
      @include make-col(12);
      @media (max-width: 1439px){
        text-align: center;
      }
      @media (min-width: 1440px){
        @include make-col(7);
      }
      #video{
        position: relative;
        .legend{
          display: block;
          margin-top: 6px;
        }
        @media (min-width: 1440px){
          max-width: 760px;
          .play{
            position: absolute;
            padding: 30px;
            top: 50%;
            left: 50%;
            @include reset;
          }
          .legend{
            display: none;
          }
        }
        .cover{
          width: 100%;
          display: none;
          @media (min-width: 1440px){
            display: block;
          }
        }
      }

      #share{
        margin-top: 26px;
        @media (min-width: 1440px){
          margin-top: 56px;
        }
        span,
        ul{
          vertical-align: middle;
          @media (min-width: 1440px){
            display: inline-block;
          }
        }
        .social-media{
          width: 320px;
          margin-top: 6px;
          margin-left: auto;
          margin-right: auto;
          @media (min-width: 1440px){
            width: initial;
            margin-left: 45px;
          }
            li{
              margin: 0 2.5px;
              a:hover{
                img{
                  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
              }
            }
        }
      }
    }
  }
}

#evento{
  position: relative;
  z-index: 50;
  padding: 52px 0 148px;
  &_container{
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column-reverse);
    @include justify-content(space-between);

    @media (min-width: 1440px){
      @include flex-direction(row);
    }
  }
  #palestrante{
    @include make-col(12);
    @media (min-width: 1440px){
      @include flexbox;
      @include align-items(center);
      @include make-col(7);
    }
    .about{
      @media (min-width: 1440px){
        @include make-col-offset(2);
      }
      display: block;
      .desc{
        margin: 26px 0 34px;
        h2{
          font-size: 32px;
          font-weight: $regular;
          line-height: 1.4em;
        }
      }
      .social-media{
        svg{
          path{
            fill: $cl6;
          }
        }
        a:hover{
          svg{
            path{
              fill: $cl2;
            }
          }
        }
      }
    }
  }
  #inscricao{
    @include make-col(12);
    margin-bottom: 60px;
    @include mq(md,max){
      margin-top: -200px;
    }
    @include mq(md){
      margin-top: -300px;
    }
    @media (min-width: 1440px){
      margin-top: -598px;
      @include make-col(5);
    }
    &-box{
      min-height: 821px;
      background: #fff;
      padding: 52px 30px 58px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      h2{
        font-size: em(32);
        font-weight: $regular;
        margin-bottom: 52px;
      }

      .btn{
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: em(18);
        color: #fff;
        background: $cl2;
        margin-top: 52px;
        &:hover{
          box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));
        }
      }
    }
    .info{
      position: relative;
      margin-top: 42px;
      text-align: center;
      .check{
        display: block;
        margin-bottom: 14px;
      }
      .form-check-label{
        vertical-align: middle;
      }
      small{
        font-size: em(14);
        line-height: 24px;
        a.link{
          color: $cl3;
          text-decoration: underline;
        }
      }
    }
    
  }
}

#objetivo{
  position: relative;
  padding: 120px 0 128px;
  background: $cl7;
  @media (max-width: 1279px){
    text-align: center;
  }
  &_content{
    margin: 0;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @media (min-width: 1280px){
      @include justify-content(space-between);
      @include flex-direction(row);
    }
  }
  .skill{
    margin-top: 48px;
    width: 100%;
    max-width: 398px;
    
    &-box{
      padding: 33px 36px 68px;
      border-radius: 10px;
      text-align: center;
      color: #fff;
      box-shadow: 0px 2px 20px rgba(0, 171, 243, 0.05);
      h2{
        font-size: em(32);
        line-height: 1.2em;
        margin: 33px 0 21px;
        text-transform: capitalize;
      }
      p{
        line-height: 1.688rem;
      }
    }
    &:nth-child(1){
      .skill-box{
        background: $cl2;
      }
    }
    &:nth-child(2){
      .skill-box{
        background: $cl3;
      }
    }
    &:nth-child(3){
      .skill-box{
        background: $cl1;
      }
    }
  }
}

#depoimentos{
  position: relative;
  padding: 155px 0 118px;
  @include mq(xl){
    padding: 255px 0 218px;
  }
  &_container{
    .depoimento-item{
      margin-top: 36px;
      p{
        font-size: em(32);
        line-height: 3.125rem;
        margin-bottom: 42px;
        text-transform: uppercase;
        @include mq(md,max){
          font-size: 1.4rem;
          line-height: 1.4em;
        }
      }
      .autor{
        span{
          display: block;
          &.name{
            font-size: em(22);
            line-height: 2.000rem;
            font-weight: $bold;
          }
          &.city{
            font-size: em(18);
            line-height: 1.875rem;
          }
        }
      }
    }
  }
  &_view{
    @include make-col(10);
    @include make-col-offset(1);
      
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      @include make-col-offset(2);
    }
    @media (min-width: 1440px){
      @include make-col(6);
      @include make-col-offset(0);
    }
    @media (min-width: 1720px){
      @include make-col(7);
    }
  }
  .owl{
    &-dots{
      position: relative;
      @include mq (md){
        margin-top: -30px;
      }
    }
    &-dot{
      background: #fff;
      span{
        @include size(18px);
        border: 1px solid $cl5;
        background: transparent;
      }
      &.active{
        span{
          border: 3px solid $cl5;
        }
      }
    }
  }
  .cover{
    position: absolute;
    right: 0;
    top: 50%;
    @include reset-y;
    display: none;
    @media (min-width: 1440px){
      display: block;
    }
  }
}

#footer{
  position: relative;
  color: $cl7;
  background: $cl2;
  border-top: 12px solid $cl1;
  &_container{
    min-height: 292px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
      #copyright{
        display: block;
        margin: 15px auto;
      }
      @include mq(md){
        @include flex-direction(row);
        @include justify-content(space-between);
      }
      .social-media{
        li{
          a:hover,
          a:focus{
            svg{
              path{
                fill: $cl1;
              }
            }
          }
        }
      }
  }
}